h1 {
  background-color: lightgrey;
  color: blue;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em; /*1.5em = 24px*/
  font-family: Georgia;
  word-spacing: 2em;
  letter-spacing: 1.6em;
}

h2 {
  text-transform: uppercase;
  color: darkred;
  font-size: 1.125em; /*1.125 = 18px*/
  font-family: Georgia;
  letter-spacing: 1.4em;
  margin-top: 3em;
}

td {
  padding-right: 4em;
}

p {
  font-size: 1em; /*1em = 16px*/
  color: black;
  font-family: Arial;
}

.year {
  font-weight: bold;
}
